ul li{
display: flex;
align-items: center;
justify-content: flex-start;
margin-top: 20px;
margin-bottom: 20px;
color: darkslategray;
font-weight: bold;

padding-bottom: 2px;

}

li p{
  margin-left: 20px;
  font-size: 20px;

  font-family: "Cedarville Cursive", cursive;

}

ul{
margin-left: 16px;
padding-right: 10px;
}